---
import Layout from "../../layouts/Layout.astro";

export function getStaticPaths() {
  return [
    {params: {news: 'clifford'}},
    {params: {news: 'rover'}},
    {params: {news: 'spot' }}
  ]
}

const { news } = Astro.params;
---
<Layout title={news}>

<p>
    Esta es la noticia {news}
</p>
</Layout>