---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Bienvenidos a mi pagina">
    <div class="my-custom-class">
        Hola
    </div>
    <span class="font-myfont">Hola mundo con mi fuente elegida</span>
    <Icon name="mdi:progress-upload" size="56" class="text-blue-600" />
    <div id="btn" data-role="Admin" class="bg-red-400 text-white">
        Pinchar
    </div>
    <div class="embla">
        <div class="embla__container">
          <div class="embla__slide">Slide 1</div>
          <div class="embla__slide">Slide 2</div>
          <div class="embla__slide">Slide 3</div>
        </div>
      </div>
      
	

</Layout>

<style>
    .my-custom-class{
        @apply bg-red-600 text-white text-2xl 
    }
    .embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

</style>
<script>
    import EmblaCarousel from 'embla-carousel'
    import JSConfetti from 'js-confetti'
    const jsConfetti = new JSConfetti()
    const btn = document.getElementById("btn")
    btn.addEventListener('click', (e) => {
        console.log('ay!', e.target.classList)
        jsConfetti.addConfetti()
    })

    console.log(btn)
    
    const emblaNode = document.querySelector('.embla')
    const options = { loop: false }
    const emblaApi1 = EmblaCarousel(emblaNode, options)

</script>


