---
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Bienvenidos a mi pagina">
    <div class="my-custom-class">
        Hola
    </div>
    <span class="font-myfont">Hola mundo con mi fuente elegida</span>
    <Icon name="mdi:progress-upload" size="56" class="text-blue-600" />
	

</Layout>

<style>
    .my-custom-class{
        @apply bg-red-600 text-white text-2xl 
    }
</style>


