---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-orange-400 h-20"></header>

		<menu class="bg-blue-400 flex">
			<li>
				<a href="/" class="block px-4 hover:bg-white/25">Inicio</a>
			</li>
			<li>
				<a href="/quienes-somos" class="block px-4 hover:bg-white/25">Quienes somos</a>
			</li>
			<li>
				<a href="/organigrama" class="block px-4 hover:bg-white/25">Organigrama</a>
			</li>
			<li>
				<a href="/CONTACTO" class="block px-4 hover:bg-white/25">Contacto</a>
			</li>
			<li>
				<a href="/noticias" class="block px-4 hover:bg-white/25">Noticias</a>
			</li>
		</menu>
		<slot />
	</body>
</html>

